  @import "reset.css";
  @import '../scss/variable.scss';

  html {
      overflow: hidden;
  }


  .content {
      width: 100%;
      height: 100%;
      position: relative;
  }

  .Place {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      position: relative;

      .placeleft {
          padding: 0 100px;
          //width: 100%;
          font-family: "Arial";
          color: #153DB3;
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 200px;
          z-index: 1;

          .placetitle {
              font-size: 55px;
              font-weight: 700;
              display: flex;
              width: 100%;
              text-align: left;
              text-decoration-line: underline;
              text-underline-position: under;
              padding-bottom: 150px;
              white-space: nowrap;

              a {
                  width: 20%;


                  img {
                      width: 100%;
                  }
              }

          }

          .placesub {
              .subbox {
                  display: flex;
                  align-items: center;
                  padding-bottom: 100px;
                  text-decoration-line: none;
                  text-decoration: none;

                  svg {
                      fill: #153DB3;
                  }

                  a {
                      text-decoration-line: none;
                      text-decoration: none;

                      div {
                          font-family: 'Arial';
                          color: #153DB3;
                          font-size: 40px;
                          font-weight: 700;
                      }
                  }

              }
          }

          .placebox {
              width: 450px;
              border: 3px solid #153DB3;
              border-radius: 20px;
              padding: 10px 10px;
              font-size: 20px;

              .placeboder {
                  .placetop {
                      font-family: 'Arial';
                      font-weight: 700;
                      padding-left: 20px;
                      padding-right: 20px;
                      padding-bottom: 10px;
                      display: flex;
                      justify-content: space-between;
                  }

                  .setbox {
                      font-family: 'Arial';
                      font-weight: 500;

                      .box01 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 82px;
                          }
                      }

                      .box02 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 64px;
                          }
                      }

                      .box03 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 82px;
                          }
                      }

                      .box04 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 99px;
                          }
                      }

                      .box05 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 82px;
                          }
                      }

                      .box06 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 30px;
                          }
                      }

                      .box07 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 82px;
                          }
                      }

                      .box08 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 64px;
                          }
                      }

                      .box09 {
                          display: flex;
                          justify-content: space-around;

                          .pad10 {
                              padding-right: 81px;
                          }
                      }
                  }
              }

          }
      }

      .placeright {
          width: 65%;
          position: absolute;
          right: -34px;

          .rightbox {
              //padding-top: 50px;
              width: 100%;

              svg {
                  //margin: 0 auto;
                  width: 50%;
              }

          }
      }
  }

  .risebox {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .risetext {
          //width: 30%;
          font-size: 30px;
          font-weight: 700;
          font-family: 'Arial';
          color: #153DB3;
          padding-bottom: 50px;
      }

      .swbox {
          width: 100%;

          .swiper {
              width: 80%;
              //height: 500px;

              .slidebox {
                  //padding-left: 50px;
                  width: 400px !important;
                  height: 500px;
                  ///margin-left: 100px;

                  .databox {
                      width: 400px;

                      img {
                          border: 4px solid #153DB3;
                          width: 400px;
                          height: 500px;
                          object-fit: cover;
                          margin-right: -50px;
                      }

                  }
              }
          }
      }



  }


  path:hover {
      cursor: pointer;
      fill: #153DB3;
      opacity: 40%;
  }

  polygon:hover {
      //fill: none;
  }

  @include mobile {

      /* 모바일 브라우저 414px */
      html {
          overflow: hidden;
      }


      .content {
          width: 100%;
          height: 100%;
          position: relative;
      }

      .Place {
          width: 100vw;
          height: 100vh;
          display: flex;
          align-items: center;
          position: relative;

          .placeleft {
              padding: 0;
              font-family: "Arial";
              color: #153DB3;
              display: flex;
              flex-direction: column;
              position: absolute;
              left: 78px;
              top: 77px;
              z-index: 1;
              //align-items: center;

              .placetitle {
                  font-size: 35px;
                  font-weight: 700;
                  display: flex;
                  width: 100%;
                  text-align: left;
                  text-decoration-line: underline;
                  text-underline-position: under;
                  padding-bottom: 30px;
                  white-space: nowrap;

                  a {
                      display: none;
                      width: 20%;

                      img {
                          width: 100%;
                      }
                  }

              }

              .placesub {
                  .subbox {
                      display: flex;
                      align-items: center;
                      padding-bottom: 30px;
                      padding-left: 57px;

                      img {
                          display: none;
                      }

                      svg {
                          fill: #153DB3;
                      }

                      a {
                          text-decoration-line: block;
                          text-decoration: block;

                          div {
                              font-family: 'Arial';
                              color: #153DB3;
                              font-size: 20px;
                              font-weight: 700;
                          }
                      }
                  }
              }

              .placebox {
                  width: 350px;
                  border: 3px solid #153DB3;
                  border-radius: 20px;
                  padding: 10px 10px;
                  font-size: 20px;
                  display: none;

                  .placeboder {
                      .placetop {
                          font-family: 'Arial';
                          font-weight: 700;
                          padding-left: 20px;
                          padding-right: 20px;
                          padding-bottom: 10px;
                          display: flex;
                          justify-content: space-between;
                      }

                      .setbox {
                          font-family: 'Arial';
                          font-weight: 500;

                          .box01 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 82px;
                              }
                          }

                          .box02 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 64px;
                              }
                          }

                          .box03 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 82px;
                              }
                          }

                          .box04 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 99px;
                              }
                          }

                          .box05 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 82px;
                              }
                          }

                          .box06 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 30px;
                              }
                          }

                          .box07 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 82px;
                              }
                          }

                          .box08 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 64px;
                              }
                          }

                          .box09 {
                              display: flex;
                              justify-content: space-around;

                              .pad10 {
                                  padding-right: 81px;
                              }
                          }
                      }
                  }

              }
          }



          .placeright {
              width: 100%;
              top: 266px;
              right: 172px;
              bottom: 0px;


              .rightbox {
                  //padding-top: 50px;
                  width: 100%;

                  svg {
                      position: absolute;
                      width: 83%;
                  }

              }
          }

          .placeright::after {
              position: absolute;
              width: 24px;
              height: 24px;
              bottom: 50px;
              left: 375px;
              content: "";
              background-image: url(/public/imgs/icons8-down-24.png);
              animation: gam 1.1s ease-in-out alternate infinite;
              background-repeat: no-repeat;
          }

          @keyframes gam {
              0% {
                  transform: translateY(0%);
              }

              50% {
                  transform: translateY(50%);
              }

          }
      }

      .risebox {
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .risetext {
              //width: 30%;
              font-size: 30px;
              font-weight: 700;
              font-family: 'Arial';
              color: #153DB3;
              padding-bottom: 50px;
          }

          .swbox {
              width: 100%;

              .swiper {
                  width: 300px;
                  //height: 500px;

                  .slidebox {
                      //padding-left: 50px;
                      width: 300px !important;
                      height: 500px;
                      ///margin-left: 100px;

                      .databox {
                          width: 300px;

                          img {
                              border: 4px solid #153DB3;
                              width: 300px;
                              height: 500px;
                              object-fit: cover;
                              margin-right: -50px;
                          }

                      }
                  }
              }
          }


      }

  }